body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: 'Courier New', Courier, monospace;
}

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.5s;
}

a:hover{
    color: white;
    background: greenyellow;
    box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80pc greenyellow;
    transition-delay: 1s;
}