*{
    margin: 0;
    padding: 0;
}

body{
    background: #0a2a43;
    min-height: 1500px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0a2a43;
    z-index: 10;
    mix-blend-mode: color-dodge;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
    margin-top: 150px;
    position: relative;
    color: whitesmoke;
    font-size: 7em;
    z-index: 1;
}

#road{
    z-index: 2;
}