body{
    padding: 0;
    margin: 0;
}

.loading{
    height: 100vh;
    width: 100vw;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.texts{
    position: absolute;
    font-size: 14px;
    color: skyblue;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.spinner{
    height: 14rem;
    width: 14rem;
    border: 20px solid skyblue;
    border-left: 20px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load infinite 1.5s linear;
}

@keyframes load{
    to{
        transform: rotate(360deg);
    }
}

.center{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.text{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.ring{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 whitesmoke;
    background: transparent;
    animation: load2 1s linear infinite;
}

@keyframes load2{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

